<button mat-fab  routerLink="/add-transporteur" color="primary" class="mt-5 mb-5">
  <mat-icon>add</mat-icon>
</button>

<table class="table-wrapper" mat-table [dataSource]="transporteur">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
  </ng-container>

  <ng-container matColumnDef="urllink">
    <th mat-header-cell *matHeaderCellDef>Le lien URL</th>
    <td mat-cell *matCellDef="let element">{{ element.urllink }}</td>
  </ng-container>

  <ng-container matColumnDef="modifier">
    <th mat-header-cell *matHeaderCellDef>Modifier</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button [routerLink]="['/' , 'transporteur' , element.id ,  'modify']">
        <span class="material-icons">create</span>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="effacer">
    <th mat-header-cell *matHeaderCellDef>Supprimer</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="onDeleteRequest(element.id)">
        <span class="material-icons">delete</span>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
</table>


