<div class="row">
  <div class="col-4 mt-5 mb-5">
    <mat-card class="backcolor">
      <mat-card-header>
        <mat-card-subtitle>Marques</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Ajouter un marque</p>
      </mat-card-content>
      <mat-card-actions>
        <a
          class="nav-item nav-link"
          [routerLink]="['/marque']"
          routerLinkActive="active"
          >Cliquez ici</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4 mt-5 mb-5">
    <mat-card class="backcolor">
      <mat-card-header>
        <mat-card-subtitle>Sous-marque</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Ajouter un Sous-marque</p>
      </mat-card-content>
      <mat-card-actions>
        <a
          class="nav-item nav-link"
          [routerLink]="['/modele']"
          routerLinkActive="active"
          >Cliquez ici</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4 mt-5 mb-5">
    <mat-card class="backcolor">
      <mat-card-header>
        <mat-card-subtitle>Modeles</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Ajouter un modele</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>LIKE</button> -->

        <a
          class="nav-item nav-link"
          [routerLink]="['/produits']"
          routerLinkActive="active"
          >Cliquez ici</a
        >
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div class="row">

  <div class="col-4 mt-5 mb-5">
    <mat-card class="backcolor">
      <mat-card-header>
        <mat-card-subtitle>Etats de produits</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Decrire l'etats de produits</p>
      </mat-card-content>
      <mat-card-actions>
        <a
          class="nav-item nav-link"
          [routerLink]="['/etatproduit']"
          routerLinkActive="active"
          >Cliquez ici</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4 mt-5 mb-5">
    <mat-card class="backcolor">
      <mat-card-header>
        <mat-card-subtitle>Catégories d'anomalie</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Ajouter une anomalie</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>LIKE</button> -->

        <a
          class="nav-item nav-link"
          [routerLink]="['/anomalie-categorty']"
          routerLinkActive="active"
          >Cliquez ici</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4 mt-5 mb-5">
    <mat-card class="backcolor">
      <mat-card-header>
        <mat-card-subtitle>Nom sous-type anomalie</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Nom sous-type anomalie</p>
      </mat-card-content>
      <mat-card-actions>
        <a
          class="nav-item nav-link"
          [routerLink]="['/anomalie']"
          routerLinkActive="active"
          >Cliquez ici</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-4 mt-5 mb-5">
    <mat-card class="backcolor">
      <mat-card-header>
        <mat-card-subtitle>Types de garantie</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Types de garantie</p>
      </mat-card-content>
      <mat-card-actions>
        <a
          class="nav-item nav-link"
          [routerLink]="['/']"
          routerLinkActive="active"
          >Cliquez ici</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4 mt-5 mb-5">
    <mat-card class="backcolor">
      <mat-card-header>
        <mat-card-subtitle>Changemnts effectués</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Changemnts effectués</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>LIKE</button> -->

        <a
          class="nav-item nav-link"
          [routerLink]="['/changement']"
          routerLinkActive="active"
          >Cliquez ici</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4 mt-5 mb-5">
    <mat-card class="backcolor">
      <mat-card-header>
        <mat-card-subtitle>Interventions</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Types d'interventions</p>
      </mat-card-content>
      <mat-card-actions>
        <a
          class="nav-item nav-link"
          [routerLink]="['/intervention']"
          routerLinkActive="active"
          >Cliquez ici</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>
