<div class="col-12 container-wrapper" *ngIf="distributeur">
  <form
    action=""
    class="justify-content-md-center"
    [formGroup]="distributeurForm"
  >
    <mat-form-field class="full-width">
      <mat-label>Nom</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        placeholder="Nom"
        formControlName="nom"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Adresse</mat-label>
      <textarea
        matInput
        class="form-control"
        placeholder="Adresse"
        formControlName="adresse"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Ville</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        placeholder="Ville"
        formControlName="ville"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Code postal</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        placeholder="Code postal"
        formControlName="codePostal"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Téléphone</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        placeholder="Téléphone"
        formControlName="telephone"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Emial</mat-label>
      <input
        matInput
        type="email"
        class="form-control"
        placeholder="someone@gmail.com"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Pays</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        placeholder="Pays"
        formControlName="pays"
      /> </mat-form-field
    ><br />
    <div class="row btn-row btn-gr pb-5">
      <button
        (click)="updateDistributeur()"
        type="submit"
        class="btn btn-primary"
      >
        Update
      </button>
      <div class="lateral-bar"></div>
      <div class="lateral-bar"></div>
    </div>
  </form>
</div>
