<div
  class="site site-bg"
  [ngClass]="style.bodyClass"
  [ngStyle]="{ background: style.background }"
>
  <div class="site-content">
    <div
      class="container site-header"
      [ngClass]="{ 'has-client-logo': style.logoClient }"
    >
      <div *ngIf="style.logoClient" class="logo-wrapper client-logo-wrapper">
        <img [src]="style.logoClient" />
      </div>

      <nav class="navbar navbar-expand-lg">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <a
            class="nav-item nav-link"
            [routerLink]="['/homepro']"
            routerLinkActive="active"
            >Home</a
          >

          <div
            *ngIf="!user || user.role != 'professionnel'"
            class="navbar-nav"
            [ngStyle]="{ color: style.aNavColor }"
          >
            <!-- <img *ngIf="isClient" src="{{clientLogo}}" /> -->
            <!-- <a *ngIf="!isClient" class="nav-item nav-link" [routerLink]="['/home']" routerLinkActive="active" >Dmands</a> -->

          <!-- <ng-container *ngIf="(isLoggedIn)"> -->

            <a
              class="nav-item nav-link"
              [routerLink]="['/home']"
              routerLinkActive="active"
              >Demandes</a
            >
            <!-- <a
              class="nav-item nav-link"
              [routerLink]="['/demandePro']"
              routerLinkActive="active"
              >DemandePro</a
            > -->
            <a
              class="nav-item nav-link"
              [routerLink]="['/partenaires']"
              routerLinkActive="active"
              >Partenaires</a
            >
            <a
              class="nav-item nav-link"
              [routerLink]="['/donnees']"
              routerLinkActive="active"
              >Données</a
            >
            <!-- <a class="nav-item nav-link" [routerLink]="['/statistiques']" routerLinkActive="active">Statistiques</a> -->
            <a
              class="nav-item nav-link"
              [routerLink]="['/suivi']"
              routerLinkActive="active"
              >Suivi</a
            >
            <!-- <a class="nav-item nav-link" [routerLink]="['/suivireparation']" routerLinkActive="active">Suivi de reparation</a> -->
          <!-- </ng-container> -->
            <a
              class="nav-item nav-link"
              [routerLink]="['/login']"
              routerLinkActive="active"
              >Connexion</a
            >
            <a
              class="nav-item nav-link"
              [routerLink]="['/register']"
              routerLinkActive="active"
              >S'inscrire</a
            >
          </div>

          <a
            class="nav-item nav-link"
            style="color: white"
            href="javascript:void(0)"
            (click)="logout()"
            >Se Déconnecter</a
          >
        </div>
      </nav>
      <div class="logo-wrapper main-logo-wrapper">
        <img [src]="style.logo" alt="green-riders" />
      </div>
    </div>

    <main class="main-content container">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
