  <button mat-fab routerLink="/add-demande" color="primary" class="mt-5 mb-5">
    <mat-icon>add</mat-icon>
  </button>

<div>
  <table class="table-wrapper" mat-table [dataSource]="dataSource!" style="display: block;overflow-x: scroll;">

    <ng-container matColumnDef="numRMA">
      <th mat-header-cell *matHeaderCellDef>NumRMA</th>
      <td mat-cell *matCellDef="let element">{{ element.numRMA }}</td>
    </ng-container>

    <ng-container matColumnDef="numeroSerie">
      <th mat-header-cell *matHeaderCellDef>NumeroSerie</th>
      <td mat-cell *matCellDef="let element">{{ element.numeroSerie }}</td>
    </ng-container>

    <ng-container matColumnDef="produitId">
      <th mat-header-cell *matHeaderCellDef>Modele</th>
      <td mat-cell *matCellDef="let element">{{ element.produit.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="distributeurId">
      <th mat-header-cell *matHeaderCellDef>Distributeur</th>
      <td mat-cell *matCellDef="let element">{{ element?.distributeur?.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="clientId">
      <th mat-header-cell *matHeaderCellDef>Client</th>
      <td mat-cell *matCellDef="let element">{{ element?.client?.nom }}</td>
    </ng-container>


    <ng-container matColumnDef="dateDemande">
      <th nowrap mat-header-cell *matHeaderCellDef>Date de demande</th>
      <td nowrap mat-cell *matCellDef="let element">{{ element.dateDemande }}</td>
    </ng-container>

    <ng-container matColumnDef="dateAchat">
      <th nowrap mat-header-cell *matHeaderCellDef>Date de Achat</th>
      <td mat-cell *matCellDef="let element">{{ element.dateAchat }}</td>
    </ng-container>

    <ng-container matColumnDef="panneClient">
      <th mat-header-cell *matHeaderCellDef>La panne</th>
      <td mat-cell *matCellDef="let element">{{ element.panneClient }}</td>
    </ng-container>


    <!-- <ng-container matColumnDef="estTraite">
    <th mat-header-cell *matHeaderCellDef>Est traité</th>
    <td mat-cell *matCellDef="let element">   <mat-checkbox disabled="true" [value]="element.estTraitee" class="chexkbox"></mat-checkbox> </td>
  </ng-container> -->

    <ng-container matColumnDef="modifier">
      <th mat-header-cell *matHeaderCellDef>Modifier</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [routerLink]="['/' , 'demande' , element.id , 'modify']">
          <span class="material-icons">create</span>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="effacer">
      <th mat-header-cell *matHeaderCellDef>Supprimer</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="onDeleteRequest(element.id)">
          <span class="material-icons">delete</span>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Details</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [routerLink]="['/', 'details', (element.id)]">
          Details
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
  </table><br>
  <mat-paginator [length]="demandeReparations.length" [pageSize]="10" showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
  <br>

</div>
