<div class="col-12 container-wrapper">
  <form action="" class="justify-content-md-center" [formGroup]="clientForm">
    <mat-form-field class="full-width">
      <mat-label>Nom</mat-label>
      <input
        matInput
        class="form-control"
        type="text"
        placeholder="Nom"
        formControlName="nom"
      />
      <mat-error *ngIf="checkerror('nom', 'required')">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Prénom</mat-label>
      <input
        matInput
        class="form-control"
        type="text"
        placeholder="Prenom"
        formControlName="prenom"
      />
      <mat-error *ngIf="checkerror('prenom', 'required')">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Télephone</mat-label>
      <input
        matInput
        class="form-control"
        type="text"
        placeholder="telephone"
        formControlName="telephone"
      />
      <mat-error *ngIf="checkerror('telephone', 'required')">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        class="form-control"
        type="email"
        placeholder="someone@gmail.com"
        formControlName="email"
      />
      <mat-error *ngIf="checkerror('email', 'required')">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Adresse</mat-label>
      <input
        matInput
        class="form-control"
        type="text"
        placeholder="Adresse"
        formControlName="adresse"
      />
      <mat-error *ngIf="checkerror('adresse', 'required')">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Ville</mat-label>
      <input
        matInput
        class="form-control"
        type="text"
        placeholder="Ville"
        formControlName="ville"
      />
      <mat-error *ngIf="checkerror('ville', 'required')">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>CodePostal</mat-label>
      <input
        matInput
        class="form-control"
        type="text"
        placeholder="CodePostal"
        formControlName="codePostal"
      />
      <mat-error *ngIf="checkerror('codePostal', 'required')">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Pays</mat-label>
      <input
        matInput
        class="form-control"
        type="text"
        placeholder="Pays"
        formControlName="pays"
      />
      <mat-error *ngIf="checkerror('pays', 'required')">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Distributeur</mat-label>
      <mat-select formControlName="distributeurId" class="form-control">
        <mat-option *ngFor="let a of distributeurs" [value]="a.id">
          {{ a.nom }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="checkerror('distributeurId', 'required')">This field is required</mat-error>
    </mat-form-field>
    <br />
    <div class="row btn-row btn-gr">
      <button
        (click)="addClient(); clearInput()"
        type="submit"
        class="btn btn-primary"
        color="primary"
      >
        Submit
      </button>
      <div class="lateral-bar"></div>
      <div class="lateral-bar"></div>
    </div>
  </form>
</div>


