<div class="col-12 container-wrapper">
  <form action="" class="justify-content-md-center" [formGroup]="modeleForm">
    <mat-form-field class="full-width">
      <mat-label>Sous-marque</mat-label>
      <input
        matInput
        class="form-control"
        type="text"
        placeholder="Sous-marque"
        formControlName="nom"
      />
      <mat-error *ngIf="checkerror('nom', 'required')"
        >This field is required</mat-error
      >
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Marques</mat-label>
      <mat-select formControlName="marqueId" class="form-control">
        <mat-option *ngFor="let m of marques" [value]="m.id">
          {{ m.nom }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="checkerror('marqueId', 'required')"
        >This field is required</mat-error
      >
    </mat-form-field>
    <br />
    <div class="row btn-row btn-gr">
      <button
        (click)="addModele(); clearInput()"
        type="submit"
        class="btn btn-primary"
      >
        Submit
      </button>
      <div class="lateral-bar"></div>
      <div class="lateral-bar"></div>
    </div>
  </form>
</div>
