<div class="row">
  <div class="col-6 mt-5 mb-5">
    <mat-card class= "backcolor">
      <mat-card-header>
        <mat-card-subtitle>Distributeurs</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
         Ajouter un partenaire
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="btncolor">
          <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="active">CLICK</a>
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="col-6 mt-5 mb-5">
    <mat-card class= "backcolor">
      <mat-card-header>
        <mat-card-subtitle>Clients</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
         Ajouter un client
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>LIKE</button> -->
        <button mat-raised-button class="btncolor">
          <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="active">CLICK</a>
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="col-6 mt-5 mb-5">
    <mat-card class= "backcolor">
      <mat-card-header>
        <mat-card-subtitle>Techniciens</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Ajouter un technicien
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="btncolor">
          <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="active">CLICK</a>
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="col-6 mt-5 mb-5">
    <mat-card class= "backcolor">
      <mat-card-header>
        <mat-card-subtitle>Techniciens</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Ajouter un technicien
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="btncolor">
          <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="active">CLICK</a>
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>


