@import '~bootstrap/scss/bootstrap';
@import './assets/styles/material.scss';

/* You can add global styles to this file, and also import other style files */
@import './assets/styles/project.scss';
@import './assets/styles/colors';
@import './assets/styles/main.scss';




// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-paginator-container{
    min-height: 30px;
}

::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: #fff;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: #20a7c2;
    border-radius: 10px;
}