<div class="pt-5 pb-5">
  <table class="table-wrapper" mat-table [dataSource]="livraisons">
    <ng-container matColumnDef="numRMA">
      <th mat-header-cell *matHeaderCellDef>Numero RMA</th>
      <td mat-cell *matCellDef="let element">{{ element.numRMA }}</td>
    </ng-container>

    <ng-container matColumnDef="transporteurId">
      <th mat-header-cell *matHeaderCellDef>Transporteur</th>
      <td mat-cell *matCellDef="let element">{{ element.transporteurId }}</td>
    </ng-container>

    <ng-container matColumnDef="dureeReparation">
      <th mat-header-cell *matHeaderCellDef>Durée Reparation</th>
      <td mat-cell *matCellDef="let element">{{ element.dureeReparation }}</td>
    </ng-container>

    <ng-container matColumnDef="numeroTracking">
      <th mat-header-cell *matHeaderCellDef>Numero Tracking</th>
      <td mat-cell *matCellDef="let element">{{ element.numeroTracking }}</td>
    </ng-container>

    <ng-container matColumnDef="modifier">
      <th mat-header-cell *matHeaderCellDef>Modifier</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [routerLink]="['/' , 'livraison' , element.id ,  'modify']" >
          <span class="material-icons">create</span>
        </button>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="effacer">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="(element.id)">
          <span class="material-icons">delete</span>
        </button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
  </table>
  </div>

