<h3 class="title">VOS TROTTINETT ESÉLECTRIQUES</h3>

<div class="container">
  <router-outlet></router-outlet>
</div>

<mat-form-field>
  <input (input)="applyFilter($event)" matInput placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z0 mb-5">
  <table mat-table [dataSource]="dataSource!" class="table-wrapper" matSort>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="numeroRMA">
      <th mat-header-cell *matHeaderCellDef> NuméroRMA </th>
      <td mat-cell *matCellDef="let element"> {{element.numRMA}} </td>
    </ng-container>

    <ng-container matColumnDef="distributer" *ngIf="isAdmin()">
      <th mat-header-cell *matHeaderCellDef> distributer </th>
      <td mat-cell *matCellDef="let element"> {{getDistributerName(element.distributeurId)}} </td>
    </ng-container>

    <!-- situation Column -->
    <ng-container matColumnDef="situation">
      <th mat-header-cell *matHeaderCellDef> situation </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button>
          <!-- <a class="nav-item nav-link"  target="_blank" routerLinkActive="active">Get details</a> -->
          <a [routerLink]="['/suivireparation']" target="_blank">Details</a>
        </button> {{element}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="redirectDetails(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" colspan="5">No data matching the filter</td>
    </tr>
  </table><br/>
  <mat-paginator style="width: max-content;" [length]="demandes.length" [pageSize]="10" showFirstLastButtons>
  </mat-paginator>
</div>
