<button mat-fab  routerLink="/add-produit" color="primary" class="mt-5 mb-5">
  <mat-icon>add</mat-icon>
</button>

<table class="table-wrapper" mat-table [dataSource]="produit">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
  </ng-container>

  <ng-container matColumnDef="codeEAN">
    <th mat-header-cell *matHeaderCellDef>CodeEAN</th>
    <td mat-cell *matCellDef="let element">{{ element.codeEAN }}</td>
  </ng-container>

  <ng-container matColumnDef="longueur">
    <th mat-header-cell *matHeaderCellDef>longueur</th>
    <td mat-cell *matCellDef="let element">{{ element.longueur }}</td>
  </ng-container>

  <ng-container matColumnDef="largeur">
    <th mat-header-cell *matHeaderCellDef>largeur</th>
    <td mat-cell *matCellDef="let element">{{ element.largeur }}</td>
  </ng-container>

  <ng-container matColumnDef="hauteur">
    <th mat-header-cell *matHeaderCellDef>Hauteur</th>
    <td mat-cell *matCellDef="let element">{{ element.hauteur }}</td>
  </ng-container>

  <ng-container matColumnDef="poids">
    <th mat-header-cell *matHeaderCellDef>Poids</th>
    <td mat-cell *matCellDef="let element">{{ element.poids }}</td>
  </ng-container>

  <ng-container matColumnDef="marqueId">
    <th mat-header-cell *matHeaderCellDef>Marque</th>
    <td mat-cell *matCellDef="let element">{{ element.marqueId }}</td>
  </ng-container>

  <ng-container matColumnDef="modeleId">
    <th mat-header-cell *matHeaderCellDef>Sous-marque</th>
    <td mat-cell *matCellDef="let element">{{ element.modeleId }}</td>
  </ng-container>

  <ng-container matColumnDef="modifier">
    <th mat-header-cell *matHeaderCellDef>Modifier</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button [routerLink]="['/' , 'produit' , element.id ,  'modify']">
        <span class="material-icons">create</span>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="effacer">
    <th mat-header-cell *matHeaderCellDef>Supprimer</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="onDeleteRequest(element.id)">
        <span class="material-icons">delete</span>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
</table>

